.Cronometro {
    width: 50vw;
    height: 100vh;
}

.Cronometro__card {
    width: 55%;
    height: 30%;

    border-radius: 10px;
    background-color: rgb(167, 166, 166);
    box-shadow: 4px 4px 1px rgb(112, 112, 112);
}

.Cronometro, .Cronometro__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 15px;
}

.Cronometro__title {
    margin-bottom: 10px;
}

.Cronometro__button--activated, .Cronometro__button--desactivated, .Cronometro__button--clear {
    width: 70%;
    height: 20%;

    border: none;
    font-size: 1.2em;
    border-radius: 10px;
}

.Cronometro__button--activated {
    background-color: rgb(255, 0, 0);
    box-shadow: 2px 2px rgb(124, 0, 0);
}

.Cronometro__button--desactivated {
    background-color: rgb(9, 255, 0);
    box-shadow: 2px 2px rgb(4, 128, 0);
}

.Cronometro__button--clear {
    background-color: cyan;
    box-shadow: 2px 2px rgb(0, 119, 119);
}